.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 830px;
  margin-top: 92px;
  margin-right: 154px;
}

.description__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  max-width: 830px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 0;
}

.description__quote {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  margin-top: 39.98px;
}

.description__quote-text {
  margin: 0;
}

.description__quote-author {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 732px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-top: 10px;
}

.description__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  max-width: 722px;
  margin-top: 75.09px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .description__title {
    font-size: 49px;
    line-height: 55px;
    width: 100%;
  }

  .description {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .description {
    width: 100%;
    margin: 64px 16px 0;
  }

  .description__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }

  .description__quote {
    font-size: 24px;
    line-height: 30px;
    max-width: 288px;
  }

  .description__quote-author {
    max-width: 288px;
  }

  .description__text {
    font-size: 15px;
    line-height: 20px;
    max-width: 288px;
    margin: 30px 0 30px;
  }
}
