.description {
  display: flex;
  flex-direction: column;
  width: 830px;
  height: 607px;
  margin-top: 92px;
  margin-right: 154px;
}

.description__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  width: 830px;
  height: 173.92px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 0;
}

.description__quote {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 738px;
  height: 135.66px;
  margin-top: 39.98px;
}

.description__quote-text {
  margin: 0;
}

.description__quote-author {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 732px;
  height: 33.91px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-top: 10px;
}

.description__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  width: 722px;
  height: 181.54px;
  margin-top: 75.09px;
  margin-bottom: 0;
}
