.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 24px;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 194px;
  height: 16px;
  margin: 0 auto;
  text-align: center;
}
