.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 984px;
}

.intro__title {
  margin: auto;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  max-width: 720px;
  text-align: center;
  line-height: 100px;
}

.intro__subtitle {
  width: 100%;
  max-width: 720px;
  margin-top: 32px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
}

.intro__image {
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 84px;
    line-height: 79px;
    padding-bottom: 30px;
    margin: 0 24px;
  }
  .intro__subtitle {
    font-size: 30px;
    line-height: 40px;
    margin: 0 24px;
  }

  .intro__image {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 44px;
    line-height: 40px;
    padding-bottom: 16px;
    width: 100%;
    margin-left: 16px;
  }
  .intro__subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin-left: 16px;
  }

  .intro__image {
    width: 336px;
  }
}
