.page {
  background-color: #2a2c2f;
  color: #ffffff;
  margin: 0;
  padding: 0 148px 0 148px;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    padding-right: 16px;
  }
}
