.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 118px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1280px;
}

.photo-grid__item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 64px 24px 88px;
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    margin: 38px 8px 62px;
    width: 288px;
  }
}
