.places {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 82px;
}

@media screen and (max-width: 768px) {
  .places {
    width: 720px;
    margin: 0 24px 90px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 288px;
    margin: 0 0 65px;
  }
}
