@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/concept.css);
@import url(../blocks/intro.css);
@import url(../blocks/description.css);
@import url(../blocks/photo.css);
@import url(../blocks/places.css);
@import url(../blocks/footer.css);
